@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {

    /* Color Tokens */
    --bgBasePrimary: radial-gradient(50% 50% at 50% 50%, #1A1C2C 0%, #0D0D16 100%);
    --bgPrimary: #0E0E17;
    --bgSecondary: rgba(255, 255, 255, 0.2);

    --labelPrimary: #fff;
    --labelSecondary: #A0A0C5;
    --labelError: linear-gradient(180deg, #E47CB4 0%, #CF3A8B 100%);
    --labelPositive: linear-gradient(180deg, #419188 0%, #0FD2EC 100%);

    --borderBase: 1px solid #292C48;
    --borderPrimary: 1px solid #1F202B;
    --borderSecondary: 1px solid #5B608A;
    --borderAccent: 1px solid #8FCFF8;

    /* Typography Tokens */
    --ff-heading: 'SF Mono';
    --ff-body: 'Inter';

    --fs-heading: 14px;
    --fs-body: 14px;
    --fs-bodyMini: 12px;
    --fs-button: 14px;

    --fw-semibold: 600;
    --fw-regular: 400;

    --lh-regular: 160%;
    --ls-body: 1%;
    --ls-body-mini: 6%;

    /* Box shadow Tokens */
    --sw-active: 1px 1px 40px 6px rgba(143, 207, 248, 0.29);

    /* Border Radius Tokens */
    --br-md: 6px;

}

body {
    background: var(--bgBasePrimary);
    font-family: var(--ff-body, sans-serif);
    color: var(--labelSecondary);
    font-size: var(--fs-body);
    letter-spacing: var(--ls-body);
}

.heading {
    font-family: var(--ff-heading);
    font-weight: var(--fw-semibold);
    font-size: var(--fs-heading);
    color: var(--labelPrimary);
}

.spacer>*+* {
    margin-bottom: 1rem;
}

.btn {
    display: flex;
    grid-auto-columns: auto;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    font-family: var(--ff-heading);
    font-size: var(--fs-button);
    font-weight: var(--fw-semibold);
    border: var(--borderPrimary);
    border-radius: var(--br-md);
    background-color: var(--bgPrimary);
    background: var(--labelError);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .2s ease;
}

.btn:hover {
    border: var(--borderSecondary);
}